body {
    font-family: courier;
    color: redgit ;
    text-align: center;
    margin: 0;
    padding: 0;
}

#header {
    width: auto;
    border: 2px black solid;
    padding: 20px;
    text-align: center;
}

#footer {
    background-color: gray;
}

#cuerpo {
    height: 300px;
    align-items: center;
}

p {
    margin: auto auto;
    padding-top: 10%;
}